*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 100px;
    
    background-color: rgb(13, 13, 26);
    border-bottom: 1px solid rgba(211, 211, 211, 0.644);
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 30px;
   
}
.section1{
 
    background-color: rgb(13, 13, 26);
}
.part1{
    width: 300px;
    height: 300px;
border: 1px solid rgba(211, 211, 211, 0.164);
margin-top: 100px;
border-radius: 10px;
}
.part2{
    width: 300px;
    height: 300px;
    border: 1px solid rgba(211, 211, 211, 0.267);
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 10px;
}
.part3{
    width: 300px;
    height: 300px;
    border: 1px solid rgba(211, 211, 211, 0.329);
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 10px;
}
.bi-earbuds{
    font-size: 30px;
    color: rgb(67, 98, 201);
}
.bi-envelope{
    font-size: 30px;
    color:rgb(67, 98, 201) ;
}
.bi-geo-alt{
    font-size: 30px;
    color:rgb(67, 98, 201) ;
}
.head{
    display: flex;
    justify-content: center;
}
.sec1__desc{
    text-align: center;
    color: rgba(211, 211, 211, 0.541);
}
.sec1__head{
    text-align: center;
    color: white;
}
h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
.part1__desc{
    color: white;
    margin-top: 20px;
}
.sec2{
    width: 100%;
    height: 900px;
    border: solid;
    display: flex;
    justify-content: center;
    background-color: rgb(13, 13, 26);
}
.image{
    width: 600px;
    height: 700px;
    border: solid;
    background-image: url("https://rainbowit.net/html/nuron/assets/images/contact/contact1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.form{
    width: 500px;
    height: 700px;
    border: solid;
    margin-left: 10px;
    margin-top: 50px;
}
.name{
    height: 40px;
    width: 400px;
    background-color: rgba(13, 13, 26, 0.527);
}
.email{
    margin-top: 20px;
    height: 40px;
    width: 400px;
    background-color: rgba(13, 13, 26, 0.527);
}
.subject{
    height: 40px;
    width: 400px;
    background-color: rgba(13, 13, 26, 0.527);
}
.message{
    height: 100px;
    width: 400px;
    background-color: rgba(13, 13, 26, 0.527);
}
.check{
    margin-top: 20px;
    background-color: rgba(13, 13, 26, 0.527);
}
.sec2__btn{
    margin-top: 10px;
    height: 50px;
    width: 150px;
    margin-left: 20px;
    background-color: rgb(70, 101, 201);
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.sec2__btn:hover{
    background-color: rgba(13, 13, 26, 0.801);
}
label{
    color: rgba(211, 211, 211, 0.623);
}

  
  